@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bodoni+Moda:opsz@6..96&display=swap');

body {
	margin: 0;
	background-color: black;
}

 /* Scroll bar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #bc79ff; 
}

::-webkit-scrollbar-thumb:hover {
  background: #fff; 
}

a,
.intro-header,
.main,
.left,
.right,
.bi-arrow-down,
.bi-arrow-up,
.env-btn:hover {
	color: #fff;
}

a,
.bi-arrow-down,
.bi-arrow-up {
	text-decoration: none;
}

h2,
h1,
h5,
.intro-header p,
.modal,
.modal-body p {
	font-family: 'Bebas Neue', cursive !important;
}

p {
	font-family: 'Bodoni Moda', serif;
}

hr,
.proj-desc-info,
.proj-short-des,
#avatar,
.intro-header div:last-child {
	display: block;
	margin: 0 auto;
}

.modal-body p {
	font-size: 17px;
}

.footer p {
	display: inline;
}

video,
.video-overlay,
.light-btn,
.left,
.right,
.intro-header {
	position: absolute;
}

video,
.video-overlay,
.overlay {
	top: 0;
	height: 100%;
	width: 100%;
}

video {
	object-fit: cover;
	z-index: 0;
}

.video-overlay {
	z-index: 2;
	background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0), rgb(0 0 0), rgb(0 0 0));
}

.overlay {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
}

.main,
.project-section,
.skillsContainer {
	position: relative;
}


/* Buttons */
.bi-arrow-down,
.bi-arrow-up {
	font-size: 20px;
}

.light-btn,
.light-btn-2, 
.light-btn:focus,
.light-btn-2:focus {
	padding: 10px;
	bottom: 20px;
	right: 25px;
	width: 50px;
	background-color: none;
	border: 2px solid #fff;
}

.light-btn:hover,
.light-btn-2:hover  {
	border-color: #fff;
	animation: flash;
	animation-duration: 2s;
}

.light-btn-2 {
	position: sticky;
	float: right;
}

/* Hero */
.personal-intro {
	margin: 100px 0 0 120px;
}

.intro-header {
	margin: 50px 0 0 0;
	z-index: 9999;
	display: flex;
	flex-direction: column;
	gap: 20px;
	top: 30%;
	left: 50%;
}

.menu {
	border: 0 !important;
}

.menu p {
	font-size: 40px !important;
}

.square-item {
	border: 1px solid #fff;
	height: 50px;
	width: 200px;
}
.square-item p {
	position: relative;
	text-align: center;
	padding: 10px;
	font-size: 30px;
	top: 50%;
	left: 50%;
}

/* About Section */
.main {
	padding: 25px;
	margin: 900px 0 0 0;
}

#avatar {
	width: 80%;
	position: relative;
	margin-bottom: 50px;
	top: 15%;
}

hr {
	border-color: #23b8ff;
	border-width: 5px;
	max-width: 35%;
	opacity: 1;
}

.work-desc {
	margin: 170px 0 200px 0;
}

.about-grid {
	display: grid;
	grid-template-columns: 500px auto 8px;
	grid-row: 1;
}

.para-res {
	width: 100%;
}

.about-desc p,
.work-desc p {
	font-size: 20px;
}

/* Skills Section */
.skillSet hr {
	max-width: 20%;
	border-color: #b114ed;
}

.square {
	display: grid;
	grid-template-columns: repeat(3, 150px);
	justify-content: center;
	grid-gap: 20px;
}

.square div {
	border: 1px solid #fff;
	width: 150px;
	height: 150px;
}

.square-item p,
.square div p,
.spinner-grow,
.intro-header {
	transform: translate(-50%,-50%);
}

.square div p {
	text-align: center;
	position: relative;
	top: 50%;
	left: 50%;
	padding: 30px;
}

.square div p {
	grid-column: span 2;
}

.intro-header div:last-child {
	grid-column:  span 2 / span 2;
}

/* Project Showcase */
.project-section {
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 50px;
	background-color: #000;
	width: 700px;
	height: 400px;
}

.main-project hr {
	max-width: 20%;
	border-color: #ff4323;
}

.image-holder {
	border: 1px solid #fff;
	width: 700px;
	height: 400px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.env-btn {
	border-radius: 100%;
	border-color: #000;
}

.bi-envelope-open {
		font-size: 25px;
}

.env-btn:hover {
	background-color: #000;
	border-color: #000;
}

.spinner-grow {
	z-index: 10;
	display: none;
	position: relative;
	top: 50%;
	left: 50%;
}

.spinner-grow.show {
	display: block;
}

.left, 
.right {
	font-size: 30px;
	top: 40%;
}

.right {
	right: -100px;
}

.left {
	left: -100px;
}

.proj-desc-info {
	width: 70%;
}

.proj-short-des {
	height: 150px;
	width: 80%;
	overflow: auto;
}

/* Contact */
.social-icons p {
	cursor: pointer;
	display: inline;
	padding: 0 20px 0 20px;
	font-size: 25px;
}

.social-icons p i:hover {
	transition: 0.5s ease;
}

.reveal {
	transform: translateX(-150px);
	opacity: 0;
	transition: 0.5s all ease;
}

.reveal.active {
	transform: translateY(0);
	opacity: 1;
}

.light-btn,
.light-btn-2,
.personal-intro,
.skillsContainer, 
.intro-header h1, 
.intro-header p,
.main {
	z-index: 2;
}

@media (max-width: 760px){
	.project-section,
	.image-holder {
		width: 90% !important;
		margin: 0 auto;
	}
	.left {
		left: -30px;
	}
	.right {
		right: -30px;
	}
	.footer {
		margin-bottom: 100px;
	}
}

@media screen and (max-width: 767px) {
	.about-grid {
		grid-template-columns: repeat(1,2fr) !important;
	}
	#alertBox {
		width: 90vw;
	}
	.square {
		grid-template-columns: repeat(2, 150px);
	}

	.project-section,
	.image-holder {
		height: 280px;
	}

	.proj-desc-info {
		width: 100%;
	}

}

@media screen and (min-width: 767px) and (max-width: 1023px) {
	.about-grid {
		grid-template-columns: repeat(1,2fr) !important;
	}
	#alertBox {
		width: 90vw;
	}
	#avatar {
		top: unset;
	}
	.project-section,
	.image-holder {
		width: 550px;
	}
}